.trigger {
    display: none;
  }

  .menu {
      display: none;
  }
  
  .hamburger {
    cursor: pointer;
    margin-right: 10px;
    float: right;
  }
  
  .hamburger span {
    height: 3px;
    width: 30px;
    background: rgb(134, 129, 129);
    display: block;
    margin-bottom: 5px;
    position: relative;
    -webkit-transition: top 0.3s ease-in-out,
   opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: top 0.3s ease-in-out,
   opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
   opacity 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
   opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  
  .trigger:checked ~ .hamburger span:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 8px;
  }
  
  .trigger:checked ~ .hamburger span:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -8px;
  }
  
  .trigger:checked ~ .hamburger span:nth-child(2) {
    opacity: 0;
  }
  
  .menu {
    cursor: pointer;
  }
  
  nav {
    background: rgb(231, 62, 147);
    width: 100vw;
    padding: 30px 70px;
    margin-top: 10px;
    position: absolute;
    left: -100vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out;
  }
  
  .trigger:checked ~ nav {
    left: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-bottom: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }